/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

/* Estilo para el encabezado */
.header {
    background-color: #343a40;
    color: white;
    padding: 20px;
    text-align: center;
}

.logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 50px;
}

/* Estilos para el contenido principal */
.container {
    padding: 20px;
}

.certificate {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.certificate h2 {
    color: #e74c3c;
    margin-bottom: 15px;
}

.certificate p {
    font-size: 1.1em;
    margin-bottom: 10px;
}

button {
    background-color: #3498db;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #2980b9;
}

/* Estilo para el pie de página */
.footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

.email-link {
    color: #3498db;
    text-decoration: none;
}

.email-link:hover {
    text-decoration: underline;
}
